<a href="https://colab.research.google.com/github/byrcewang/GenAI_app_development/blob/main/LangChain_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install -q openai
!pip install -q langchain

In [4]:
openai_api_key = "sk-"
import os
import openai

In [1]:
!pip install langchain langchain-experimental openai -q

# Set env var OPENAI_API_KEY or load from a .env file
# import dotenv

# dotenv.load_dotenv()

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 18.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.9/154.9 kB 15.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.0/77.0 kB 7.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.5/44.5 kB 3.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 4.0 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
llmx 0.0.15a0 requires cohere, which is not installed.
llmx 0.0.15a0 requires tiktoken, which is not installed.

In [5]:
from langchain import OpenAI, SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

llm = OpenAI(temperature=0, openai_api_key=openai_api_key)

sqlite_db_path ='./chinook.db'
db = SQLDatabase.from_uri(f"sqlite:///{sqlite_db_path}")
db_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

/usr/local/lib/python3.10/dist-packages/langchain_experimental/sql/base.py:75: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [6]:
db_chain.run("How many unique customers are there?")

> Entering new SQLDatabaseChain chain...
How many unique customers are there?
SQLQuery:SELECT COUNT(DISTINCT "CustomerId") FROM customers;
SQLResult: [(59,)]
Answer:There are 59 unique customers.
> Finished chain.

'There are 59 unique customers.'

In [7]:
db_chain.run("我们一共有多少个顾客呢?")

> Entering new SQLDatabaseChain chain...
我们一共有多少个顾客呢?
SQLQuery:SELECT COUNT(*) FROM customers;
SQLResult: [(59,)]
Answer:我们一共有59个顾客。
> Finished chain.

'我们一共有59个顾客。'

In [11]:
db_chain.run("哪个顾客的花费最多?")

> Entering new SQLDatabaseChain chain...
哪个顾客的花费最多?
SQLQuery:SELECT "FirstName", "LastName", MAX("Total") AS "MaxTotal" FROM customers c INNER JOIN invoices i ON c."CustomerId" = i."CustomerId" GROUP BY c."CustomerId" ORDER BY "MaxTotal" DESC LIMIT 5;
SQLResult: [('Helena', 'Holý', 25.86), ('Richard', 'Cunningham', 23.86), ('Ladislav', 'Kovács', 21.86), ('Hugh', "O'Reilly", 21.86), ('Astrid', 'Gruber', 18.86)]
Answer:Helena Holý的花费最多，为25.86美元。
> Finished chain.

'Helena Holý的花费最多，为25.86美元。'

In [ ]:
#db_chain.run("How many employees are there?")

In [ ]:
sqlite_db_path ='/content/products.db'
db = SQLDatabase.from_uri(f"sqlite:///{sqlite_db_path}")
db_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

/usr/local/lib/python3.10/dist-packages/langchain_experimental/sql/base.py:75: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [ ]:
db_chain.run("How many products are there?")

> Entering new SQLDatabaseChain chain...
How many products are there?
SQLQuery:SELECT COUNT(*) FROM product;
SQLResult: [(8494,)]
Answer:There are 8494 products.
> Finished chain.

'There are 8494 products.'

In [ ]:
db_chain.run("what is the average price of all the product?")

> Entering new SQLDatabaseChain chain...
what is the average price of all the product?
SQLQuery:SELECT AVG(price_usd) FROM product;
SQLResult: [(51.6555945373204,)]
Answer:The average price of all the products is 51.66.
> Finished chain.

'The average price of all the products is 51.66.'