<a href="https://colab.research.google.com/github/byrcewang/GenAI_app_development/blob/main/pandas_agent_LangChain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!pip install langchain -q
!pip install langchain_experimental -q
!pip install openai -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.0/77.0 kB 2.0 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
llmx 0.0.15a0 requires cohere, which is not installed.
llmx 0.0.15a0 requires tiktoken, which is not installed.

In [8]:
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_types import AgentType

from langchain.llms import OpenAI
import pandas as pd

df = pd.read_csv("./sample_data/california_housing_train.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [13]:
agent = create_pandas_dataframe_agent(
    ChatOpenAI(temperature=0, model="gpt-3.5-turbo-0613", openai_api_key='xxxx'),
    df,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
)

In [14]:
agent.run("How many rows are there?")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': 'df.shape[0]'}`


17000There are 17,000 rows in the dataframe.

> Finished chain.

'There are 17,000 rows in the dataframe.'

In [15]:
agent.run("这个数据集，一共有多少行，多少列?")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': 'df.shape'}`


(17000, 9)这个数据集一共有17000行和9列。

> Finished chain.

'这个数据集一共有17000行和9列。'

In [16]:
agent.run("全部房价的平均价格是多少?")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df['median_house_value'].mean()"}`


207300.91235294117全部房价的平均价格是207,300.91。

> Finished chain.

'全部房价的平均价格是207,300.91。'

In [17]:
agent.run("What is the averaged house value for all the families that with income over 3")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df[df['median_income'] > 3]['median_house_value'].mean()"}`


248420.55122219172The average house value for families with income over 3 is approximately $248,420.55.

> Finished chain.

'The average house value for families with income over 3 is approximately $248,420.55.'